/* Reset */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
  margin: 0;
}

button, input, textarea, select {
  font: inherit;
}

body {
  font-family: system-ui;
  line-height: 1.5;
}

p {
  text-wrap: pretty;
}

/* Props */
:root {
   --surface: white;
   --text: black;
   --size-3: 1rem;
}

body {
  color: var(--text);
  background-color: var(--surface);
}

/* Notebook */
textarea {
  color: inherit;
  background-color: oklch(from var(--surface) calc(l / 1.5) c h);
  border: none;
  border-inline-start: 5px solid var(--text);
  padding-inline-start: var(--size-3);
}

.result {
  --surface-1: var(--text);
  --surface-2: oklch(from var(--surface) calc(l / 1.5) c h);
  background-color: var(--surface-2);
  border: none;
  padding-inline-start: var(--size-3);
}

.error {
  color: red;
  border-inline-start: 5px solid red;
}

.success {
  --_highlight: oklch(from green 0.95 c h);
  color: var(--_highlight);
  border-inline-start: 5px solid var(--_highlight);
}

input[type="submit"] {
  color: var(--surface);
  background-color: var(--text);
  border: none;
}


/* View Transitions */
@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  /* animation-duration: 2s; */
}

::view-transition-new(root) {
  animation-name: slide-in;
}

::view-transition-old(root) {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    translate: 100vw 0;
  }
}

@keyframes slide-out {
  to {
    translate: -100vw 0;
  }
}

nav {
  view-transition-name: nav;
}

/* Atomic CSS */
.w-full {
   inline-size: 100%;
}

.h-third {
   block-size: 33%;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: var(--size-3);
}
