*, *::before, *::after {
	box-sizing: border-box;
}

body {
  font-family: system-ui;
}

@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  /* animation-duration: 2s; */
}

::view-transition-new(root) {
  animation-name: slide-in;
}

::view-transition-old(root) {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    translate: 100vw 0;
  }
}

@keyframes slide-out {
  to {
    translate: -100vw 0;
  }
}

nav {
  view-transition-name: nav;
}

.w-full {
   inline-size: 100%;
}

.h-third {
   block-size: 33%;
}
